<h3 class="govuk-heading-m">Letter</h3>
<p class="govuk-body">Write to us at:</p>
<p class="govuk-body">
    Criminal Injuries Compensation Authority<br />
    10 Clyde Place<br />
    Buchanan Wharf<br />
    Glasgow<br />
    G5 8AQ<br />
    United Kingdom
</p>