{# <h3 class="govuk-heading-m">Contact form</h3>
<p class="govuk-body">Use our <a href="https://contact-the-cica.form.service.justice.gov.uk/" target="_blank" rel="noopener noreferrer" class="govuk-link">contact form</a>. Select the 'Something else' option. We'll aim to reply to you within 10 working days.</p>

<h3 class="govuk-heading-m">Email</h3>
<p class="govuk-body">Or you can email us at <a href="mailto:info@cica.gov.uk" target="_blank" rel="noopener noreferrer" class="govuk-link">info@cica.gov.uk</a>.</p>

<h3 class="govuk-heading-m">Phone</h3>
<p class="govuk-body">Or you can phone us on 0300 003 3601.</p>
<ul class="govuk-list govuk-list--bullet">
    <li>If you're outside the UK, phone: +44 (0)203 684 2517</li>
    <li><a href="https://www.relayuk.bt.com" target="_blank" rel="noopener noreferrer" class="govuk-link">Relay UK (opens in new tab)</a> (if you cannot hear or speak on the phone): 18001 0300 003 3601</li>
</ul>
<p class="govuk-body">Our opening times are: Monday to Friday, 8.30am to 3pm.</p>
<p class="govuk-body">Our phone lines can get busy, so we may not be able to answer your call or you may have a long wait time.</p>
<p class="govuk-body"><a href="https://www.gov.uk/call-charges" target="_blank" rel="noopener noreferrer" class="govuk-link">Find out about call charges (opens in new tab)</a></p>

<h3 class="govuk-heading-m">Letter</h3>
<p class="govuk-body">Or you can write to us at:</p>
<p class="govuk-body">
    Criminal Injuries Compensation Authority<br />
    10 Clyde Place<br />
    Buchanan Wharf<br />
    Glasgow<br />
    G5 8AQ<br />
    United Kingdom
</p> #}













{% from "components/table/macro.njk" import govukTable %}
<p class="govuk-body govuk-!-margin-bottom-1">Telephone: 0300 003 3601</p>
<p class="govuk-body govuk-!-margin-bottom-1">Outside the UK: +44 (0) 203 684 2517</p>
<p class="govuk-body"><a href="https://www.relayuk.bt.com" target="_blank" rel="noopener noreferrer" class="govuk-link">Relay UK (opens in new tab)</a>: (if you cannot hear or speak on the phone) 18001 0300 003 3601</p>
{% include "opening-times.njk" %}
<p class="govuk-body"><a href="https://www.gov.uk/call-charges" target="_blank" rel="noopener noreferrer" class="govuk-link">Find out about call charges (opens in new tab)</a></p>

