<div class="cookie-banner">
    <p class="cookie-banner__message">
        <span class="cookie-banner__message-text">
            GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a>
        </span>
    </p>
</div>