{% from "button/macro.njk" import govukButton %}
{% from "cica/modal/macro.njk" import govukModal %}
{% set sessionTimeoutHeading %}
    <span aria-live="assertive">Your session will time out in <span class="govuk-modal__time-remaining" aria-atomic="true" aria-live="assertive"></span></span>
{% endset %}
{% set sessionTimeoutDescription %}
    <p class="govuk-body">You'll lose your unsaved progress if you don't continue. We do this to keep your information secure.</p>
{% endset %}
{% set sessionEndedHeading %}
    Your session has timed out
{% endset %}
{% set sessionEndedDescription %}
    <p class="govuk-body">Your session has been timed out due to 30 minutes of inactivity. You can sign back in to resume your application if you saved your progress. If not, you'll have to start a new application.</p>
{% endset %}
{% set sessionResumeErrorHeading %}
    Something went wrong
{% endset %}
{% set sessionResumeErrorDescription %}
    <p class="govuk-body">We're unable to resume this application. Unless you were signed in and saved your progress, you'll have to start your application again.</p>
{% endset %}

{% call govukModal({
    id: "session-timing-out",
    role: "alertdialog",
    hasCloseButton: false,
    heading: {
        html: sessionTimeoutHeading
    },
    content: {
        html: sessionTimeoutDescription
    }
}) %}
    {{ govukButton({
        type: "button",
        text: "Continue application",
        classes: "govuk-modal__continue ga-event--click",
        attributes: {
            "data-tracking-category": "modal-button",
            "data-tracking-label": "Continue application"
        }
    }) }}
{% endcall %}

{% call govukModal({
    id: "session-ended",
    role: "alertdialog",
    hasCloseButton: false,
    heading: {
        html: sessionEndedHeading
    },
    content: {
        html: sessionEndedDescription
    }
}) %}
    {{ govukButton({
        text: "Continue",
        href: "/apply",
        classes: "ga-event--click",
        attributes: {
            "data-tracking-category": "modal-button",
            "data-tracking-label": "Start again"
        }
    }) }}
{% endcall %}

{% call govukModal({
    id: "session-resume-error",
    role: "alertdialog",
    hasCloseButton: true,
    heading: {
        html: sessionResumeErrorHeading
    },
    content: {
        html: sessionResumeErrorDescription
    }
}) %}
    {{ govukButton({
        text: "Continue",
        href: "/apply",
        classes: "ga-event--click",
        attributes: {
            "data-tracking-category": "modal-button",
            "data-tracking-label": "Start again"
        }
    }) }}
{% endcall %}