{% from "components/table/macro.njk" import govukTable %}
{{ govukTable({
        caption: "Opening times",
        firstCellIsHeader: true,
        head: [
            {
            text: "Day"
            },
            {
            text: "Opening times"
            }
        ],
        rows: [
            [
                {
                    text: "Monday"
                },
                {
                    text: "8:30am to 5pm"
                }
            ],
            [
                {
                    text: "Tuesday"
                },
                {
                    text: "8:30am to 5pm"
                }
            ],
            [
                {
                    text: "Wednesday"
                },
                {
                    text: "8:30am to 3pm"
                }
            ],
            [
                {
                    text: "Thursday"
                },
                {
                    text: "8:30am to 5pm"
                }
            ],
            [
                {
                    text: "Friday"
                },
                {
                    text: "8:30am to 5pm"
                }
            ]
        ]
    })
}}