{% extends "page.njk" %}
{% from "components/table/macro.njk" import govukTable %}

{% block innerContent %}
    <h1 class="govuk-heading-xl">Accessibility statement for Claim criminal injuries compensation</h1>

    <p class="govuk-body">This website is run by Criminal Injuries Compensation Authority (CICA). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

{% endblock %}
