{% extends "page.njk" %}
{% from "components/table/macro.njk" import govukTable %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% block pageTitle %}Sorry, the service is unavailable - {{ super() }}{% endblock %}

{% block innerContent %}

    <h1 class="govuk-heading-xl">Sorry, the service is unavailable</h1>

    {% if CW_LIVECHAT_MAINTENANCE_MESSAGE_ENABLED %}

        {% set bannerHtml %}
            <p class="govuk-body">{{ CW_LIVECHAT_MAINTENANCE_MESSAGE }}</p>
        {% endset %}

        {{ mojBanner({
            type: 'information',
            html: bannerHtml
        }) }}

    {% endif %}

    <p class="govuk-body">Our live chat service has been withdrawn.</p>

    <h2 class="govuk-heading-l">Other ways of contacting CICA</h2>
    {% include "contact.njk" %}

{% endblock %}