
{% extends "blank.njk" %}

{% block pageTitle %}Live chat - {{ super() }}{% endblock %}

{% block content %}
    <iframe id="chat-iframe"
        title="Web Chat - Claim criminal injuries compensation - GOV.UK"
        src="https://eu.ccng.bt.com/ChatWeb/Default.aspx">
    </iframe>
{% endblock %}