{% extends "page.njk" %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/inset-text/macro.njk" import govukInsetText %}
{% from "components/table/macro.njk" import govukTable %}

{% block innerContent %}

    <h1 class="govuk-heading-xl">Help us improve this service</h1>
    <p class="govuk-body-l">We'd like to ask you some questions after you've made your claim.</p>
    <p class="govuk-body">Your feedback will help us make it easier to claim in future.</p>

    <h2 class="govuk-heading-l">What we'll do</h2>
    <p class="govuk-body">We may:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>phone or email you after you've made your claim</li>
        <li>ask you what was easy or hard about it</li>
        <li>use your feedback to improve the service</li>
    </ul>

    <h2 class="govuk-heading-l">Your consent</h2>
    <p class="govuk-body">By selecting 'Agree and continue' you give us consent to contact you for feedback</p>

    <a class="govuk-button govuk-button--start" style="margin-bottom:40px" href="/start-page" role="button">Agree and continue</a>

    <h2 class="govuk-heading-l">If you do not want to consent</h2>
    <p class="govuk-body">You can apply for compensation using our <a href="https://www.cica.gov.uk/OAS/Account/create" class="govuk-link" target="_blank">current online service</a> if you do not want to consent.</p>

    <h2 class="govuk-heading-l">Contact us</h2>
    <p class="govuk-body">You can contact us if you have any questions</p>

    {# {{ govukInsetText({
    html: '<p class="govuk-body">Email:</p><p class="govuk-body"><a href="mailto:info@cica.gov.uk">info@cica.gov.uk</a></p><p class="govuk-body">Telephone:</p><p class="govuk-body">0300 003 3601</p>'
    }) }} #}

    <div class="govuk-inset-text">
        <p class="govuk-body">Email:</p>
        <p class="govuk-body govuk-!-font-weight-bold"><a href="mailto:info@cica.gov.uk" class="govuk-link">info@cica.gov.uk</a></p>
        <p class="govuk-body">Telephone:</p>
        <p class="govuk-body"><span class="govuk-!-font-weight-bold">0300 003 3601</span> option 8</p>
    </div>

    {{ govukTable({
        caption: "Opening times",
        firstCellIsHeader: true,
        head: [
            {
            text: "Day"
            },
            {
            text: "Opening times"
            }
        ],
        rows: [
            [
                {
                    text: "Monday"
                },
                {
                    text: "8:30am to 5pm"
                }
            ],
            [
                {
                    text: "Tuesday"
                },
                {
                    text: "8:30am to 5pm"
                }
            ],
            [
                {
                    text: "Wednesday"
                },
                {
                    text: "10am to 5pm"
                }
            ],
            [
                {
                    text: "Thursday"
                },
                {
                    text: "8:30am to 5pm"
                }
            ],
            [
                {
                    text: "Friday"
                },
                {
                    text: "8:30am to 5pm"
                }
            ]
        ]
    }) }}

    <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" target="_blank">Find out about call charges</a></p>

{% endblock %}
