{% extends "page.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}New way to claim criminal injuries compensation - {{ super() }}{% endblock %}

{% block innerContent %}
    <h1 class="govuk-heading-xl">New way to claim compensation</h1>
    <p class="govuk-body">There’s a new, simpler way to claim criminal injuries compensation.</p>
    <p class="govuk-body">We need your help to get people using the new application form.</p>

    <h2 class="govuk-heading-l">Benefits</h2>
    <p class="govuk-body">The new application form is:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>simpler - the applicant does not have to give details about what happened to them</li>
        <li>shorter - around half as many questions</li>
        <li>easier - the questions are easier to read</li>
    </ul>

    <h2 class="govuk-heading-l">Who it's for</h2>
    <p class="govuk-body">It's for people who are:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>victims of sexual assault or abuse who are not claiming for mental or physical injuries</li>
        <li>18 or over</li>
        <li>applying without a named representative</li>
    </ul>

    <h2 class="govuk-heading-l">Find out more</h2>
    <p class="govuk-body">Call Julie Allan on 07889 401 510 or email julie.allan@cica.gov.uk to find out more.</p>
    <p class="govuk-body">The new service is in a ‘private beta’ phase. This means you can only use it by invitation, so we can check it’s working well with a small number of users.</p>
{% endblock %}
