{% extends "page.njk" %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
<main role="main" class="govuk-main-wrapper ga-event ga-event--scrollthreshold">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Claim criminal injuries compensation
            </h1>
            <h2 class="govuk-heading-l">
                Make a claim
            </h2>
            <p class="govuk-body">You can claim for compensation online.</p>
            <p class="govuk-body">If the crime happened between 1 August 1964 and 30 September 1979 and you lived with the attacker as a family member at the time of the incident, you can also <a href="/claim-compensation-criminal-injury/victim-lived-with-attacker-before-october-1979">request someone to call you</a> to start your claim.</p>
            <p class="govuk-body">When you make a claim to the Criminal Injuries Compensation Authority (CICA), you may need:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the date and location of the crime</li>
                <li>the name of the police station where the crime was reported</li>
                <li>your crime reference number</li>
                <li>your GP’s name and address</li>
                <li>your dentist’s name and address (if you had dental treatment because of your injuries)</li>
                <li>details of any previous applications you’ve made to <abbr title="Criminal Injuries Compensation Authority">CICA</abbr>
                </li>
                <li>details of any unspent criminal convictions</li>
            </ul>
            {{ govukWarningText({
                text: "You will not be eligible for compensation (or might get less compensation) if you provide information you know is wrong or misleading. You can be prosecuted.",
                iconFallbackText: "Warning"
            }) }}
            <p class="govuk-body">It does not cost anything to apply and you do not have to use a legal adviser.</p>
            <form name="questionnaire-form" id="questionnaire-form">
                {{ govukButton({
                    text: "Start now",
                    isStartButton: true,
                    href: "/apply"
                }) }}
            </form>
            <h2 class="govuk-heading-l">Help making a claim</h2>
            <p class="govuk-body">Contact <abbr title="Criminal Injuries Compensation Authority">CICA</abbr> if you:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>do not have a computer or internet access</li>
                <li>need help using the online service</li>
            </ul>
            <div class="govuk-body">
                <p><strong><abbr title="Criminal Injuries Compensation Authority">CICA</abbr></strong><br>
                    Inside the UK: 0300 003 3601   <br>
                    Outside the UK: +44 (0)203 684 2517<br>
                    Monday and Tuesday, 8:30am to 5pm<br>
                    Wednesday, 10am to 5pm <br>
                    Thursday and Friday, 8.30am to 5pm<br>
                    <a href="/call-charges">Find out about call charges</a>
                </p>
            </div>
            <p class="govuk-body">A friend or relative can also make the application on your behalf. You’ll need to confirm that you want them to deal with your claim.</p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
                <p class="govuk-body">You cannot claim the cost of using a legal adviser.</p>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Related contents
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-body-s">
                <li>
                    <a href="https://www.gov.uk/guidance/criminal-injuries-compensation-a-guide">
                    A guide to the Criminal Injuries Compensation Scheme
                    </a>
                </li>
                </ul>
            </nav>
            </aside>
        </div>
    </div>
</main>
{% endblock %}
