// @import "../../../node_modules/@ministryofjustice/frontend/moj/components/banner/_banner.scss";
.cookie-banner {
    display: none;
    @include govuk-font(16);
    @include govuk-text-colour;

    box-sizing: border-box;

    padding-top: govuk-spacing(3);
    padding-bottom: govuk-spacing(3);
    left: govuk-spacing(3);
    padding-right: govuk-spacing(3);
    background-color: lighten(desaturate(govuk-colour('light-blue'), 8.46), 42.55);

    &.cookie-banner--visible {
        display: block;
    }
}

.moj-banner--invisible {
    display: none;
}

.cookie-banner__message {
    margin: 0;
    @include govuk-width-container;
}

.cookie-banner__button .govuk-button {
    @include govuk-media-query($from: tablet) {
        width: 90%;
    }
}

@include govuk-media-query($media-type: print) {
    .cookie-banner {
        display: none !important;
    }
}