{
    "parserOptions": {
        "sourceType": "script",
        "ecmaFeatures": {
            "modules": false
        }
    },
    "globals": {
        "window": true,
        "document": true,
        "gtag": true
    }
}