{% extends "page.njk" %}
{% block innerContent %}
    <h1 class="govuk-heading-l">You have signed out</h1>
    <p class="govuk-body">
        <a href="/account/sign-in" class="govuk-link">Sign in</a> to your account or 
        <a href="https://www.gov.uk/" class="govuk-link">go to the GOV.UK homepage</a>
    </p>
{% endblock %}