{% extends "page.njk" %}
{% from "components/table/macro.njk" import govukTable %}
{% set mainClasses = "govuk-main-wrapper--l" %}


{% block innerContent %}
    <h1 class="govuk-heading-xl">Page not found</h1>
    <p class="govuk-body">If you typed the web address, check it is correct.</p>
    <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
    <p class="govuk-body">You can try again or apply by telephone.</p>
    <h2 class="govuk-heading-l">Contact</h2>
    <p class="govuk-body">
        Email:<br>
        <strong class="govuk-!-font-weight-bold"><a href="mailto:info@cica.gov.uk" class="govuk-link">info@cica.gov.uk</a></strong><br /><br />
        Telephone:<br>
        <strong class="govuk-!-font-weight-bold">0300 003 3601</strong> option 8
    </p>

    {{ govukTable({
        caption: "Opening times",
        firstCellIsHeader: true,
        head: [
            {
            text: "Day"
            },
            {
            text: "Opening times"
            }
        ],
        rows: [
            [
                {
                    text: "Monday"
                },
                {
                    text: "8:30am to 5pm"
                }
            ],
            [
                {
                    text: "Tuesday"
                },
                {
                    text: "8:30am to 5pm"
                }
            ],
            [
                {
                    text: "Wednesday"
                },
                {
                    text: "10am to 5pm"
                }
            ],
            [
                {
                    text: "Thursday"
                },
                {
                    text: "8:30am to 5pm"
                }
            ],
            [
                {
                    text: "Friday"
                },
                {
                    text: "8:30am to 5pm"
                }
            ]
        ]
    }) }}

    <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" target="_blank">Find out about call charges</a></p>
{% endblock %}
