{% extends "page.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}Page not found - {{ super() }}{% endblock %}

{% block innerContent %}
    <h1 class="govuk-heading-xl">Page not found</h1>
    <p class="govuk-body">If you typed the web address, check it is correct.</p>
    <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
    <p class="govuk-body">If the web address is correct or you selected a link or button, you can contact us for help with your application</p>
    {% include "contact.njk" %}
{% endblock %}
