{% extends "page.njk" %}
{% from "components/table/macro.njk" import govukTable %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}Application submitted - {{ super() }}{% endblock %}

{% block innerContent %}
    <h1 class="govuk-heading-xl">Application submitted</h1>
    <p class="govuk-body">We’re experiencing a delay getting your reference number at the moment. If you gave us your contact details, we’ll send you your reference number by email or text message. If you do not get an email or text message, or if you did not give us your contact details, call us in 5 working days and we should be able to give you your reference number.</p>
    <p class="govuk-body">You should make a note of your reference number when you get it. You’ll need this if you contact us about your application.</p>
    <h2 class="govuk-heading-m">Contact us</h2>
    {% include "contact.njk" %}
{% endblock %}
