{% extends "page.njk" %}
{% from "components/table/macro.njk" import govukTable %}
{% from "components/button/macro.njk" import govukButton %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}Your application has timed out - {{ super() }}{% endblock %}

{% block innerContent %}
    <h1 class="govuk-heading-xl">Your application has timed out</h1>
    <p class="govuk-body">This happened because you did not do anything for 30 minutes.</p>
    <p class="govuk-body">Your information has not been saved.</p>
    {{
        govukButton({
            text: "Start again",
            href: "/apply"
        })
    }}
    {% include "contact.njk" %}
{% endblock %}
