{% extends "page.njk" %}
{% from "components/table/macro.njk" import govukTable %}
{% set mainClasses = "govuk-main-wrapper--l" %}


{% block innerContent %}
    <h1 class="govuk-heading-xl">Sorry, the service is unavailable</h1>
    <p class="govuk-body">You will be able to use the service from 9am on Monday 19 November 2018.</p>
    <p class="govuk-body">You can still <a href="https://www.cica.gov.uk/OAS/Account/create">apply for compensation</a> or apply by telephone.</p>
    {% include "contact.njk" %}
{% endblock %}
