{% extends "template.njk" %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{%- from "govuk/one-login-service-header/macro.njk" import govukOneLoginServiceHeader -%}

{% block pageTitle %}Claim criminal injuries compensation - GOV.UK{% endblock %}
{% block head %}

  <link href="/stylesheets/all.css?v={{CW_APP_VERSION}}&c={{CW_BUILDTIME_ID}}" rel="stylesheet"/>
{% endblock %}

{% block skipLink %}
    {{ super() }}
    {#
      given how the govuk template.njk is defined, this is the only way
      to put the cookie banner before the skip ink whilst still being
      outside the main content
    #}
    {% include "cookie-banner.njk" %}
{% endblock %}

{% block bodyStart %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script nonce="{{ cspNonce }}" async src="https://www.googletagmanager.com/gtag/js?id={{ CW_GA_TRACKING_ID }}"></script>
    <script nonce="{{ cspNonce }}">
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('set', {
            cookie_flags: 'SameSite=Lax;Secure',
            cookie_domain: '{{ CW_DOMAIN }}'
        });
        gtag('config', '{{ CW_GA_TRACKING_ID }}', {
            'user_id': '{{ userId }}'
        });
    </script>
{% endblock %}

{% block header %}
    {% if isAuthenticated %}
        {{govukOneLoginServiceHeader({
            serviceName: "Claim criminal injuries compensation",
            serviceUrl: "https://www.gov.uk/claim-compensation-criminal-injury/make-claim",
            oneLoginLink: CW_GOVUK_ACCOUNT_URL,
            currentUrlPathname: currentUrlPathname,
            signOutLink: "/account/sign-out",
            navigationItems: [{
                href: "/account/dashboard",
                text: "Your Applications",
                id: "header-link-dashboard"
            }]
        })}}
    {% else %}
        {{govukHeader({
            homepageUrl: "https://www.gov.uk",
            serviceName: "Claim criminal injuries compensation",
            serviceUrl: "https://www.gov.uk/claim-compensation-criminal-injury/make-claim",
            useTudorCrown: true
        })}}
    {% endif %}

    <div class="govuk-width-container" role="navigation">
        {% block innerHeader %}{% endblock %}
    </div>
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if CW_MAINTENANCE_MESSAGE_ENABLED %}

                {% set bannerHtml %}
                <p class="govuk-body">{{ CW_MAINTENANCE_MESSAGE }}</p>
                {% endset %}

                {{ mojBanner({
                    type: 'information',
                    html: bannerHtml
                }) }}

            {% endif %}

            {% block innerContent %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block main %}
    {{ super() }}
    {% if sectionId %}{% endif %}
    <div class="govuk-width-container">        
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">        
        <p class="govuk-body-s">
        <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/inpagefeedback/?page={{sectionId}}" target="_blank">Tell us your feedback (opens in new tab)</a> to help us to improve our service.</p>
    </div>
{% endblock %}

{% block bodyEnd %}
    {% include "modal-timeout.njk" %}
    {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    <script nonce="{{ cspNonce }}">
        window.CICA = {
            SERVICE_URL: '{{ CW_URL }}',
            ANALYTICS_TRACKING_ID: '{{ CW_GA_TRACKING_ID }}',
            CICA_ANALYTICS_ID: '{{ externalId }}'
        };
    </script>
    <script type="module" nonce="{{ cspNonce }}">
        import {initAll} from '/govuk-frontend/all.js?v={{CW_APP_VERSION}}&c={{CW_BUILDTIME_ID}}'
        initAll();
    </script>
    <script nonce="{{ cspNonce }}" src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script nonce="{{ cspNonce }}" src="/dist/js/bundle.js?v={{CW_APP_VERSION}}&c={{CW_BUILDTIME_ID}}"></script>
{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://www.gov.uk/guidance/cica-privacy-notice",
            text: "Privacy"
          },
          {
            href: "/cookies",
            text: "Cookies"
          },
          {
            href: "/contact-us",
            text: "Contact"
          },
          {
            href: "/accessibility-statement",
            text: "Accessibility statement"
          }
        ]
      }
    }) }}
{% endblock %}
